:root {
  --sort-box-border: 2px solid black;
  --sort-unit-color: yellowgreen;
  --sort-unit-color-change: green;
}
.sort-mounted {
  width: fit-content;
  display: inline-block;
}
.sort-box {
  border: var(--sort-box-border);
  display: grid;
}
.sort-unit {
  background-color: var(--sort-unit-color);
  margin: auto 0 0 0;
  display: block;
}
button:disabled {
  opacity: 0.8;
}
.change {
  background-color: var(--sort-unit-color-change) !important;
}
.sorting {
  border-color: darkred;
}
